PGHOST=ioprojectdatabase.postgres.database.azure.com
PGUSER=postgres
PGPORT=5432
PGDATABASE=postgres
PGPASSWORD="dd?3zfeH)z,G.4y"
#READER
PGUSER=reader
PGPASSWORD=",zxhfbvkjaegfiuawgioegfqoifwvagigawoigwrfgdsifgwy"
#SCRAPER
PGUSER=scraper
PGPASSWORD="kdjfbvkhaebi4gtwbgriasbdfq3gy234g58tgeqw"
